/* Write your code here. */
.container {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 80%;
  border-radius: 20px;
}

.heading {
  font-size: 35px;
  color: #1e293b;
  text-align: left;
}
.paragraph {
  font-size: 18px;
  color: #64748b;
}

.list {
  display: flex;
  list-style: none;
}
